@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');

body {
	background-color:gray;
	left:0px;
	top:0px;
	width:100vw;
	height:100vh;
	background-image:url("images/stonewall(1).png");
	background-size: 12.5% 25%;
	background-repeat:repeat;
	overflow:hidden;
}

#gameBoard {
	border: 1px solid black;
	grid-template-columns: 120px 120px 120px 120px 120px 120px 120px;
	grid-template-rows: 120px 120px 120px 120px 120px 120px 120px;
	justify-content:center;
	width:840px;
	height:840px;
	margin-left:auto;
	margin-right:auto;
	z-index:1;
}

#gameBoard div{
	background-color:#00EE00;
	background-repeat:no-repeat;
	background-size:cover;
	z-index:1;
}

#menu button{
	display:block;
	margin-bottom:50px;
	margin-left:auto;
	margin-right:auto;
	justify-content:center;
	height:100px;
	width:450px;
	border-style:double;
	border-width:7px;
	background-color:#696969;
	border-color:#454545;
	color:#000000;
	font-size:3em;
	font-family: 'Syne Tactile', cursive;
}

#menu button:hover{
	background-color:#333333;
}

#return{
	display:block;
	margin-bottom:15px;
	margin-left:auto;
	margin-right:auto;
	justify-content:center;
	height:50px;
	width:200px;
	border-style:double;
	border-width:5px;
	background-color:#AAAAAA;
	border-color:#454545;
	color:#000000;
	font-size:25px;
	font-family: 'Syne Tactile', cursive;
}

#return:hover{
	background-color:#696969;
}

#title {
	font-size:200px;
	font-family: 'Syne Tactile', cursive;
	color:#DECC64;
	text-align:center;
	margin-bottom:150px;
}

#instructions h1{
	font-size:120px;
	font-family: 'Syne Tactile', cursive;
	color:white;
	text-align:center;
	margin-bottom:50px;
}

#instructions p{
	font-size:35px;
	text-align:left;
	color:white;
	font-family: 'Syne Tactile', cursive;
	margin-left:200px;
	margin-right:200px;
	margin-bottom:100px;
}

#story{
	position: absolute;
	right:0px;
	width:60%;
}

#storyimages{
	position:absolute;
	left:0px;
	top:100px;
	width:40%;
	padding:50px;
	text-align:center;
}

#storyimages img{
	height:500px;
	width:200px;
}

#story p{
	font-size:35px;
	text-align:center;
	color:white;
	font-family: 'Syne Tactile', cursive;
	margin-left:100px;
	margin-right:100px;
	margin-bottom:50px;
}

#continue{
	margin-bottom:15px;
	margin-left:auto;
	margin-right:auto;
	justify-content:center;
	height:75px;
	width:300px;
	border-style:double;
	border-width:5px;
	background-color:#696969;
	border-color:#454545;
	color:#000000;
	font-size:40px;
	font-family: 'Syne Tactile', cursive;
}

#continue:hover{
	background-color:#333333;
}

#endscreen h1{
	padding-top:200px;
	padding-bottom:100px;
	text-align:center;
	font-size:120px;
	color:white;
	margin-top:0px;
	margin-bottom:0px;
}

#endscreen p{
	margin-top:0px;
	margin-bottom:100px;
	font-size:35px;
	text-align:center;
}

#lose h1{
	padding-top:300px;
	padding-bottom:100px;
	text-align:center;
	font-size:120px;
	color:white;
	margin-top:0px;
	margin-bottom:0px;
}

#levelup p{
	text-align:center;
	font-size:120px;
	color:white;
	margin-top:0px;
	margin-bottom:0px;
}

#levelup {
	align-items: center;
	justify-content:center;
}

.rider {
	background-image:url("images/rider.png");
}

.tree {
	background-image:url("images/tree.png");
}

.flag {
	background-image:url("images/flag.png");
}

.rock {
	background-image:url("images/rock.png");
}

.fenceup {
	background-image:url("images/fenceup.png");
}

.fenceside {
	background-image:url("images/fenceside.png");
}

.water {
	background-image:url("images/water.png");
}

.watermedium {
	background-image:url("images/watermedium.png");
}

.watersmall {
	background-image:url("images/watersmall.png");
}

.horseup {
	background-image:url("images/horseup.png");
}

.horseleft {
	background-image:url("images/horseleft.png");
}

.horseright {
	background-image:url("images/horseright.png");
}

.horsedown {
	background-image:url("images/horsedown.png");
}

.horseriderup{
	background-image:url("images/horseriderup.png");
}

.horseriderleft {
	background-image:url("images/horseriderleft.png");
}

.horseriderright {
	background-image:url("images/horseriderright.png");
}

.horseriderdown {
	background-image:url("images/horseriderdown.png");
}

.jumpup {
	background-image:url("images/fencejumpup.png");
}

.jumpleft {
	background-image:url("images/fencejumpleft.png");
}

.jumpright {
	background-image:url("images/fencejumpright.png");
}

.jumpdown {
	background-image:url("images/fencejumpdown.png");
}

.enemyup {
	background-image:url("images/enemyup.png");
}

.enemyleft {
	background-image:url("images/enemyleft.png");
}

.enemyright {
	background-image:url("images/enemyright.png");
}

.enemydown {
	background-image:url("images/enemydown.png");
}

.bridge {
	background-color:#800020 !important;
}

.hatjump {
	background-image:url("images/hatjump.png");
}

.hatwater {
	background-image:url("images/hatwater.png");
}

.hatstrength {
	background-image:url("images/hatstrength.png");
}

.message {
	display:none;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.8);
	color:white;
	font-family: 'Syne Tactile', cursive;
	font-size:150px;
	text-align:center;
}

.hidden {
	display:none;
}