@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');

body {
	background-color:gray;
	left:0px;
	top:0px;
	width:100vw;
	height:100vh;
	background-image:url("images/stonewall(1).png");
	background-size: 12.5% 25%;
	background-repeat:repeat;
	overflow:hidden;
	margin:0px;
}

#gameBoard {
	border: 1px solid black;
	grid-template-columns: 120px 120px 120px 120px 120px 120px 120px;
	grid-template-rows: 120px 120px 120px 120px 120px 120px 120px;
	justify-content:center;
	width:840px;
	height:840px;
	margin-left:auto;
	margin-right:auto;
	background-color:#A5A5A5;
	background-image:url("images/floor.png");
	/*background-repeat:no-repeat;*/
	/*background-size:cover;*/
}

#gameBoard div{
	
}

#menu button{
	display:block;
	margin-bottom:50px;
	margin-left:auto;
	margin-right:auto;
	justify-content:center;
	height:100px;
	width:450px;
	border-style:double;
	border-width:7px;
	background-color:#696969;
	border-color:#454545;
	color:#000000;
	font-size:3em;
	font-family: 'Syne Tactile', cursive;
}

#menu button:hover{
	background-color:#333333;
}

#returnfromlose{
	display:block;
	margin-bottom:15px;
	margin-left:auto;
	margin-right:auto;
	justify-content:center;
	height:50px;
	width:200px;
	border-style:double;
	border-width:5px;
	background-color:#AAAAAA;
	border-color:#454545;
	color:#000000;
	font-size:25px;
	font-family: 'Syne Tactile', cursive;
}

#returnfromlose:hover{
	background-color:#696969;
}

#returnfromend{
	display:block;
	margin-bottom:15px;
	margin-left:auto;
	margin-right:auto;
	justify-content:center;
	height:50px;
	width:200px;
	border-style:double;
	border-width:5px;
	background-color:#AAAAAA;
	border-color:#454545;
	color:#000000;
	font-size:25px;
	font-family: 'Syne Tactile', cursive;
}

#returnfromend:hover{
	background-color:#696969;
}

#returnfromgame{
	display:block;
	margin-bottom:15px;
	margin-top:15px;
	margin-left:auto;
	margin-right:auto;
	justify-content:center;
	height:50px;
	width:200px;
	border-style:double;
	border-width:5px;
	background-color:#AAAAAA;
	border-color:#454545;
	color:#000000;
	font-size:25px;
	font-family: 'Syne Tactile', cursive;
}

#returnfromgame:hover{
	background-color:#696969;
}

#restart{
	display:block;
	margin-top:30px;
	margin-bottom:15px;
	margin-left:auto;
	margin-right:auto;
	justify-content:center;
	height:50px;
	width:200px;
	border-style:double;
	border-width:5px;
	background-color:#AAAAAA;
	border-color:#454545;
	color:#000000;
	font-size:25px;
	font-family: 'Syne Tactile', cursive;
}

#restart:hover{
	background-color:#696969;
}

#title {
	font-size:150px;
	font-family: 'Syne Tactile', cursive;
	color:#9267CB;
	text-align:center;
	margin-bottom:150px;
	padding-top:75px;
	padding-bottom:75px;
}

#instructions h1{
	font-size:120px;
	font-family: 'Syne Tactile', cursive;
	color:#9267CB;
	text-align:center;
	margin-bottom:50px;
}

#instructions p{
	font-size:35px;
	text-align:center;
	color:#9267CB;
	font-family: 'Syne Tactile', cursive;
	font-weight:bold;
	margin-left:200px;
	margin-right:200px;
	margin-bottom:100px;
}

#story{
	position: absolute;
	right:0px;
	width:60%;
}

#storyimages {
	display:none;
	position:absolute;
	left:5vw;
	top:5vw;
	width:30vw;
	height:75vh;
	margin:0px;
	padding:0px;
	background-image:url("images/idle_1.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

#story p{
	font-size:35px;
	text-align:center;
	color:#FFFFFA;
	font-family: 'Syne Tactile', cursive;
	margin-left:100px;
	margin-right:100px;
	margin-bottom:50px;
}

#continue{
	margin-bottom:15px;
	margin-left:auto;
	margin-right:auto;
	justify-content:center;
	height:75px;
	width:300px;
	border-style:double;
	border-width:5px;
	background-color:#696969;
	border-color:#454545;
	color:#000000;
	font-size:40px;
	font-family: 'Syne Tactile', cursive;
}

#continue:hover{
	background-color:#333333;
}

#endscreen{
	display:none;
}

#endscreen h1{
	padding-top:200px;
	padding-bottom:100px;
	text-align:center;
	font-size:120px;
	color:#9267CB;
	margin-top:0px;
	margin-bottom:0px;
}

#endscreen p{
	margin-top:0px;
	margin-bottom:100px;
	font-size:35px;
	text-align:center;
	color:#9267CB;
}

#lose {
	display:none;
}

#lose h1{
	padding-top:300px;
	padding-bottom:100px;
	text-align:center;
	font-size:120px;
	color:#9267CB;
	margin-top:0px;
	margin-bottom:0px;
}

#levelup p{
	text-align:center;
	font-size:120px;
	color:#9267CB;
	margin-top:0px;
	margin-bottom:0px;
}

#levelup {
	display:none;
	align-items: center;
	justify-content:center;
}

.pillar {
	background-image:url("images/pillar.png");
}

.stairsup {
	background-image:url("images/stairsup.png");
}

.stairsdown {
	background-image:url("images/stairsdown.png");
}

.rock {
	background-image:url("images/rock.png");
}

.spikes {
	background-image:url("images/spikes.png");
}

.firelarge {
	background-image:url("images/firelarge.png");
}

.firemedium {
	background-image:url("images/firemedium.png");
}

.firesmall {
	background-image:url("images/firesmall.png");
}

.wizardup {
	background-image:url("images/wizardup.png");
}

.wizardleft {
	background-image:url("images/wizardleft.png");
}

.wizardright {
	background-image:url("images/wizardright.png");
}

.wizarddown {
	background-image:url("images/wizarddown.png");
}

.jumpup {
	background-image:url("images/jumpup.png");
}

.jumpleft {
	background-image:url("images/jumpleft.png");
}

.jumpright {
	background-image:url("images/jumpright.png");
}

.jumpdown {
	background-image:url("images/jumpdown.png");
}

.waterup {
	background-image:url("images/waterup.png");
}

.waterleft {
	background-image:url("images/waterleft.png");
}

.waterright {
	background-image:url("images/waterright.png");
}

.waterdown {
	background-image:url("images/waterdown.png");
}

.strengthup {
	background-image:url("images/strengthup.png");
}

.strengthleft {
	background-image:url("images/strengthleft.png");
}

.strengthright {
	background-image:url("images/strengthright.png");
}

.strengthdown {
	background-image:url("images/strengthdown.png");
}

.spikejumpup {
	background-image:url("images/spikejumpup.png");
}

.spikejumpleft {
	background-image:url("images/spikejumpleft.png");
}

.spikejumpright {
	background-image:url("images/spikejumpright.png");
}

.spikejumpdown {
	background-image:url("images/spikejumpdown.png");
}

.enemyup {
	background-image:url("images/enemyup.png");
}

.enemyleft {
	background-image:url("images/enemyleft.png");
}

.enemyright {
	background-image:url("images/enemyright.png");
}

.enemydown {
	background-image:url("images/enemydown.png");
}

.hatjump {
	background-image:url("images/hatjump.png");
}

.hatwater {
	background-image:url("images/hatwater.png");
}

.hatstrength {
	background-image:url("images/hatstrength.png");
}

.message {
	display:none;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.8);
	color:white;
	font-family: 'Syne Tactile', cursive;
	font-size:150px;
	text-align:center;
}

.hidden {
	display:none;
}
